<div class="container">
    <h1 class="text-center p-3 display-4">About Project Peers</h1>
    <hr>
</div>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa est nulla recusandae! Animi commodi
        consequuntur, culpa debitis eveniet facilis ipsam laboriosam laudantium nobis nostrum odit placeat quos rem
        saepe sequi, suscipit ullam! Accusamus consequuntur debitis dolor eligendi illo ipsa magnam modi obcaecati
        sint
        suscipit! A blanditiis consequuntur cum dolorem doloremque quae temporibus! Aliquid at consequatur cumque
        debitis dolore dolorem doloremque ducimus expedita harum hic illum ipsum labore magnam molestias, officia,
        omnis
        quidem? Consequatur deleniti dolorem ex excepturi illum impedit inventore itaque laboriosam magnam maxime
        molestiae obcaecati perspiciatis quas qui quod reiciendis rem suscipit, tempora vitae voluptate. Eos, illum,
        labore!
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque beatae consectetur cumque delectus deleniti
        dicta, doloremque expedita id iste itaque magnam molestiae nemo nostrum, officia quasi quisquam vel.
        Accusantium
        dolore exercitationem expedita fugiat minima minus nobis odio sint tempora vero. Aspernatur, beatae,
        quasi?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, atque beatae consequuntur cupiditate
        eligendi et fuga fugit in ipsa, magni minus nam nihil officia pariatur ratione rerum sit totam,
        voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, impedit?</p>
    <hr>
</div>
<br>
<blockquote class="blockquote text-center">
    <p class="mb-0 display-6"><i>&rdquo;Goals are dreams with deadlines.&rdquo;</i></p>
    <footer class="blockquote-footer">Diana Scharf</footer>
</blockquote>
