<div class="container">
    <table class="table" *ngIf="projects">
        <thead>
        <tr>
            <th scope="col">Projects</th>
            <th scope="col" fxHide fxShow.lg>Date Posted</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects">
            <td scope="row"><a href="projects/{{project._id}}">{{project.title | titlecase | slice:0:30}}</a></td>
            <td fxHide fxShow.lg>{{project.date | date}}</td>
        </tr>
        </tbody>
    </table>
</div>
